.ce-block__content {
    max-width: 80%;
}

.ce-toolbar__content {
    max-width: 80%;
}

.ce-settings {
    right: auto;
    top: 30px;
    min-width: 114px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.editButton {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-color: #0f0f0f;
    border-radius: 3px;
    border-width: 1px;
}
